<div class="content">
    <img class="illustrations" src="../assets/pic/shopping.png">
    <form class="forms">
        <p class="text1">صفحه ورود</p>
        <p class="text2">
            از اینکه سایت ما را برای خرید انتخاب کرده اید متشکریم
            <br>
            <span>
               لطفا برای استفاده بهتر از امکانات سایت وارد حساب خود شوید
            </span>
        </p>
        <label class="label">شماره موبایل خود را وارد کنید</label>
        <input type="text" class="input" maxlength="11">
        <label class="label">رمز عبور خود وارد کنید</label>
        <input matInput #password [type]="hide ? 'password' : 'text'" class="input">
        <button class="hide-password" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon (click)="showDetails = !showDetails" class="icon-color">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        <mat-password-strength style="display: none" #passwordComponent [password]="password.value">
        </mat-password-strength>
        <mat-password-strength-info *ngIf="showDetails" [passwordComponent]="passwordComponent" lowerCaseCriteriaMsg="حداقل یک حرف کوچک وارد کنید" upperCaseCriteriaMsg="حداقل یک حرف بزرگ وارد کنید" digitsCriteriaMsg="حداقل یک عدد وارد کنید" specialCharsCriteriaMsg="حداقل یک کارکتر خاص وارد کنید"
            minCharsCriteriaMsg="رمز عبور باید حداقل 8 کارکتر باشد">
        </mat-password-strength-info>
        <mat-checkbox class="checkbox">
            <p class="Remember">من را به خاطر بسپار</p>
        </mat-checkbox>
        <button class="button" mat-flat-button color="primary">ورود</button>
        <a href="#" class="forget">فراموشی رمز عبور</a>
    </form>
</div>